<a href="https://colab.research.google.com/github/terabitiya/Data-Literacy-Project/blob/main/Data_Preparation_Germany.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [3]:
path = '/content/drive/MyDrive/Tuebingen/Data Literacy/Project/'
data_ger=pd.read_csv(path+'btw21_wbz_ergebnisse.csv',skiprows=1,sep=';',decimal=',')
data_ger.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6,7,9,106) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(94668, 107)

In [4]:
data_ger.head(2)

   Unnamed: 0  Unnamed: 1  ...  Zweitstimmen.41  Unnamed: 106
0           1           1  ...                1            01
1           1           1  ...                3            02

[2 rows x 107 columns]

In [5]:
data_ger = pd.concat([data_ger.iloc[:,[0,8,9,11]], data_ger.iloc[:,65:73]],axis=1)
parties_ger=['CDU','SPD','AfD','FDP','DIE LINKE','GRUNE','CSU']
data_ger.columns = ['Wahlkreis','Gemeindename','Wahlbezirk','registered','turnout']+parties_ger

In [9]:
data_ger['CDU_CSU'] = data_ger['CDU']+data_ger['CSU']
data_ger.drop(['CSU','CDU'],axis=1)

       Wahlkreis       Gemeindename Wahlbezirk  ...  DIE LINKE  GRUNE  CDU_CSU
0              1   Flensburg, Stadt         01  ...         63    166      105
1              1   Flensburg, Stadt         02  ...         46    128      103
2              1   Flensburg, Stadt         03  ...         46     87       63
3              1   Flensburg, Stadt         04  ...         54    122       42
4              1   Flensburg, Stadt         05  ...         62    137       20
...          ...                ...        ...  ...        ...    ...      ...
94663        296  Völklingen, Stadt         33  ...         37      0      174
94664        296  Völklingen, Stadt         34  ...         55      0      176
94665        296  Völklingen, Stadt         35  ...         45      0      145
94666        296  Völklingen, Stadt         36  ...         30      0      108
94667        296  Völklingen, Stadt         37  ...         30      0      143

[94668 rows x 11 columns]

In [10]:
data_ger=data_ger.loc[(data_ger['turnout']>0)&(data_ger['registered']>0)]

In [11]:
pd.to_pickle(data_ger,path+'data_ger.pkl')